.bg-footer {
  padding-top: 15px;
  width: 100%;
  height: 252px;
  background: var(--brand5-color);

  .bg-contain-footer {
    display: flex;
    padding: 0 15px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
  }
  .address {
    width: 231px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--brand-white);
    padding-top: 10px;
  }
}

@include screen-480{
  .bg-footer{
    height: auto;
    .bg-contain-footer{
      display: grid;
      width: auto;
      justify-content: center;
      text-align: center;

    }
    .address{
      margin-left: 25%;
    }
  }
}
@include screen-768 {
  .bg-footer {
    height: 500px;
    .bg-contain-footer {
      display: flex;
      width: auto;
      justify-content: center;
      align-items: center;
    }
  }
}