@import "../utils/mixins";

.main {
  display: flex;
  padding-bottom: 94px;
  width: 100%;
  height: 600px;
  left: -4px;
  top: 80px;
  background: var(--brand5-color);
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(196, 196, 196, 0.4)
    ),
    url('../images/bgimage.jpg');
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  .main__title {
    max-width: 696px;
    max-height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: auto;
    /* or 136% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--brand-white);
  }

  .main__button {
    width: 261px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--brand-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: var(--brand-white);
    border: none;
  }
}

@include screen-480{
  .main{
    .main__title{
      width: 360px;
      font-size: 26px;
    }
  }
 }