.menu-select {
  width: 100%;
  background: var(--brand-white);
  text-align: center;

  .menu-select__buttons {
    display: flex;
    justify-content: center;

    .buttons {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      /* identical to box height, or 162% */
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--brand-black);
      cursor: pointer;
      margin: 8px;
      padding: 6px 6px;
      border: none;
    }

    .buttons:hover {
      background-color: var(--brand-blue);
      color: var(--brand-white);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }

    .buttons:focus {
      background-color: var(--brand-blue);
      color: var(--brand-white);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }
}
