.suscrib {
  position: absolute;
  width: 275px;
  height: 16px;
  left: 47%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-white);
  margin-top: 15px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.suscrib__modal {
  .suscrib__modal-suscrib {
    box-sizing: border-box;
    position: absolute;
    width: 358px;
    height: 50px;
    left: 47%;
    top: 3207px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 45px 15px 16px;
    background-color: var(--brand5-color);
    margin-left: 40px;
  }
  .suscrib__botton {
    position: relative;
    width: 200px;
    height: 50px;
    left: 415px;
    top: 42px;
    background: var(--brand-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--brand-white);
    padding: 10px;
  }

  .suscrib_svg {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 75.31%;
    right: 15.19%;
    background: var(--brand-blue);
  }

  .suscrib__modal-form {
    box-sizing: border-box;
    position: absolute;
    width: 358px;
    height: 50px;
    left: 47%;
    top: 1737px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 45px 15px 16px;
    background-color: var(--brand5-color);
    margin-left: 40px;
  }
}

@include screen-480 {
  .suscrib {
    position: unset;
    margin-left: unset;
  }
  .suscrib__modal {
    .suscrib__modal-suscrib {
      width: 100%;
      position: unset;
      margin-left: unset;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .suscrib__botton {
      width: 250px;
      justify-content: center;
      position: unset;
      margin-bottom: 50px;
    }
    .suscrib_svg {
      left: 65%;
    }
  }
}
@include screen-768 {
  .suscrib {
    left: 30%;
    display: block;
    top: 3599px;
  }

  .suscrib__modal {
    .suscrib__modal-suscrib {
      width: 90%;
      top: 3658px;
      left: 1%;
    }

    .suscrib__botton {
      width: 140%;
      margin-bottom: 70px;
      top: 280px;
      left: -300px;
    }
  }
}
