.bgcolor-team {
  background-color: #f5f4fa;

  .team-container {
    display: flex;
    justify-content: center;
  }

  .team-card {
    width: 270px;
    background: var(--brand-white);
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 20px;
  }

  .title-team {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-black);
  }

  .rol-team {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-gray);
  }

  .redes-icons-team {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .social-container {
    display: inline-flex;
    align-items: center;
    border-radius: 22px;
    background-color: var(--brand-white);
    width: 44px;
    height: 44px;
    justify-content: center;
  }

  .icon-redes {
    width: 22px;
    height: 22px;
    fill: var(--gray-color);
  }

  .social-container:hover {
    background-color: var(--brand-blue);
  }

  .social-container:focus {
    background-color: var(--brand-blue);
  }

  .social-container:hover .icon-redes {
    fill: var(--brand-white);
  }

  .social-container:focus .icon-redes {
    fill: var(--brand-white);
  }
}
