@mixin screen-480{
@media screen and (max-width: 767px) and (min-width: 480px) {
    @content;
}
}

@mixin screen-768 {
@media screen and (max-width: 1199px) and (min-width: 768px) {
        @content;
    }
}
@mixin screen-1200 {
    @media (min-width: 1200px) {
        @content;
    }
}