:root {
    --brand-black: #212121;
    --brand-blue: #2196f3;
    --brand-white: #ffffff;
    --brand-gray: #757575;
    --brand5-color: #2f303a;
    --gray-color: #afb1b8;

}
        $color-black: #212121;
        $color-blue: #2196f3;
        $color-white: #ffffff;
        $color-gray: #757575;
        $brand5-color: #2f303a;
        $gray-color: #afb1b8;